body {
    background-image:url('/picture/img1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    padding-left: 1cm;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-top: 60px;
}

.topnav a:hover {
    color: rgb(195, 226, 43);
}
.topnav {
    padding: 30px;
    padding-left: 24cm ;
    
}

#active {
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:red ;
    width: fit-content;
    padding: 5px;
}

.topnav a {
    padding: 23px;
    font-size: 17px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}   

.h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    word-spacing: 5px;
    padding-top: 200px;
    letter-spacing: 5px;
}

.lorem {
    color: white;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
    background-color: inherit;
    background-image: url(/picture/img1.jpg) ;
    border: none;
    width: 9pc;
    height: 3pc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
}